<h2>Wishlist</h2>

<ul *ngIf="this.wishlist && this.wishlist.items && this.wishlist.items.length != 0">
  <li *ngFor="let book of this.wishlist.items">
    <div class="left-side">
      <div>
        <img [src]="book.book.bookcoverURL" [alt]="book.book.title">
      </div>
  
      <div class="title">
        <span><p>{{book.book.title}}</p></span>
        <span><p>by {{book.book.author}}</p></span>
      </div>
    </div>

    <div class="right-side">
      <div class="available">
        <p *ngIf="checkAvailability(book)">Book available</p>
        <p *ngIf="!checkAvailability(book)">Out of stock</p>
      </div>
      <div class="display-price">
        <span class="price">{{book.book.price | currency: 'RON '}}</span>
      </div>
  
      <div>
        <button *ngIf="checkAvailability(book)" class="add-button" (click)="addToCart(book)">Add to Cart</button>
      </div>

      <div>
        <button class="remove" (click)="removeFromWishlist(book)">Remove</button>
      </div>
    </div>

    <br>

  </li>
</ul>
