ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.content {
    height: 30rem;
    width: 25rem;
    border: 1px solid whitesmoke;
    border-radius: 3rem;
    margin: 0.5rem;
    margin: 2rem 0.5rem 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: whitesmoke;
    padding: .5rem 1rem;
    position: relative;
}

ul li {
    text-decoration: none;
    color: black;
}

ul li img {
    width: 21rem;
    height: 21rem;
    margin: auto;
    display: block;
}


.product-item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tags {
    flex: 9;
}

.tags span {
    border-radius: 2rem;
    background-color: white;
    display: inline-block;
    font-size: .7rem;
    color: grey;
    margin-right: 1rem;
}