<app-search></app-search>

<ul>
    <li *ngFor="let book of books">
        <div class="content">
            <a routerLink="/book/{{book.bid}}">
                <img src="{{book.bookcoverURL}}" alt="{{book.title}} cover">
                <div class="name">
                    <p>Title: {{book.title}}</p>
                    <p>Author: {{book.author}}</p>
                </div>
                <div class="product-item-footer">
                    <div class="tags">
                        <div><span>{{book.genre}}</span></div>
                    </div>
                </div>
                <div class="price">
                    <p>Price: {{book.price}} lei</p>
                </div>
            </a>

        </div>
        <div *ngIf="user$ | async as user">
            <button *ngIf="user.isAdmin" class="delete-button" (click)="goToDeleteBook(book)">Delete</button>
        </div>
    </li>
</ul>
